.nav {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1000;
}

.social:hover {
    color: #c42130;
}

.carousel-image {
    width: 700px;
    height: 700px;
}

@media screen and (max-width: 600px) {
    .nav {
        top: 0;
        width: 100%;
        z-index: 1000;
        font-size: 10;
        padding: 10px;
    }

    #nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0; 
        margin: 10;  

    }

    #name {
        font-size: 80px;
    }

    .socials {
        padding:10px;
        font-size: 12px;
    }

    .social:hover {
        color: #c42130;
    }

    #about {
        font-size: 8px;
    }

    .carousel-item {
        flex: 0 0 40%;
        padding: 0px;
        margin: 0px;
    }

    .calendly-container {
        padding-top: 80px;
    }

}


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#content {
    background-image: url('/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    position: relative;
  }

  .news-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-slide {
    animation: slide 10s linear infinite;
}

.animate-slide:hover {
    animation-play-state: paused;
}

.carousel-wrapper {
    display: flex;
    width: 200%;
}

.carousel-item {
    flex: 0 0 16.67%;
    padding: 0px;
    margin: 0px;
}

.carousel-item:hover {
    border: 10px solid #c42130;
}

#calendly {
    height: 1000px;
}